<!DOCTYPE html>
<html>

<head>
    <title>QuickFit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Monomakh&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1>Welcome to QuickFit 💪</h1>
    <p>Click below to get a quick workout!</p>

    <form action="/generate" method="GET">
        <button class= "button-link" type="submit">Generate Workout</button>
    </form>

    <br>
    <a href="/history">View Workout History</a>
</body>

</html>