<!DOCTYPE html>
<html>

<head>
    <title>Workout Saved</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Monomakh&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>Workout Saved!</h1>
    <p>Your workout <strong>
            <%= name %>
        </strong> has been added to history.</p>
    <a class= "button-link" href="/">Back to Home</a> | <a href="/history">View History</a>
</body>

</html>